{% extends "base.html" %}
{% block content %}
    {% if items %}
    <table>
        {% for item in items %}
          <tr>
              <th>Title: {{item.title}}</th>
              <th>Price: {{item.price}}</th>
              <th>Quantity: {{item.quantity}}</th>
              <th>Total Price (€): {{item.total_price}}</th>
          </tr>
        {% endfor %}
        <p> Precio total {{ total_price }} </p>
    </table>
    {% else %}
    <p> No hay elementos en el carrito </p>
    {% endif %}
{% endblock %}
