* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(161, 89, 89, 0.4);;
}

.topnav {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    color: rgb(138, 31, 31);
}

.topnav a {
    color: rgb(7, 5, 5);
    padding: 16px;
    text-decoration: none;
    display: inline;
}

.topnav a:hover {
    margin-top: 25;
    background-color: #ddd;
    color: rgb(138, 31, 31);
}

.topnav a.home {
    padding-top: 100px;
}