* {
    box-sizing: border-box;
}
  
body {
    margin: 20;
    font-family: Verdana, Geneva, sans-serif;
    background-color: rgba(228, 87, 87, 0.4);;
}

.topnav {
    margin-top: 15;
    height: 50px;
    width: 100%;
    color: rgb(69, 10, 136);
}

.topnav a {
    color: rgb(7, 5, 5);
    padding: 16px;
    text-decoration: none;
    display: inline;
}

.topnav a:hover {
    margin-top: 15;
    background-color: #ddd;
    color: rgb(138, 31, 31);
}

.topnav a.home {
    padding-top: 100px;
}

.footer{
    margin-top: 500px;
}

.infoLibro {
    margin-top: -300px;
    margin-left: 225px;
}

#anyadirCarrito {
    margin-left: 0px;
}

.addCart {
    border-radius: 10px;
    color: white;
    padding: 15px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    background-color: #8f1915;
    border-style: none;
    margin-left: 30px;
}

#comentarios {
    background-color: #98ac8d;
    border-radius: 10px;
    width: fit-content;
}

#comentarios p {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.commentSection {
    margin-top: 200px;
}