{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Tittle: {{ book.title }}</h1>
    <img src= "/static/{{book.path_to_cover_image }}" alt='imagen del libro' >
    <div class="infoLibro">
        {% if book.author.all %}
            {% for a in book.author.all %}
                <p><strong>Author:</strong>{{ a.first_name }} {{ a.last_name }}</p>
            {% endfor %}
        {% endif %}
        <p><strong>Price:</strong> {{book.price }}</p>
        <p><strong>Score:</strong> {{book.score }}</p>
        <form id = "anyadirCarrito" action="{% url 'cart_add' book_slug=book.slug %}" method="post">
          {% csrf_token %}
          <table>
          {{ form.as_table }}
          </table>
          <input type="submit" value="Add to cart" class="addCart">
        </form>

    <p class="commentSection" onclick="myFunction()"><strong>Comment section</strong></p>
    <div id="comentarios">
    {% if comments %}
        {% for c in comments.all %}
            <p class="comentario"><strong>{{ c.user.username }} <br></strong>{{ c.msg }} <br> ( {{ c.date }} )</p>
        {% endfor %}
    {% endif %}
    </div>
    <script>
        function myFunction(){
            document.getElementById("comentarios").style.display="block";
        }
    </script>

{% endblock %}
