{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Tittle: {{ book.title }}</h1>
    <img src= "/static/{{book.path_to_cover_image }}" alt='imagen del libro' >
    {% if book.author.all %}
        {% for a in book.author.all %}
            <p><strong>Author:</strong>{{ a.first_name }} {{ a.last_name }}</p>
        {% endfor %}
    {% endif %}
    <p><strong>Price:</strong> {{book.price }}</p>
    <p><strong>Score:</strong> {{book.score }}</p>
    {% if comments %}
        {% for c in comments.all %}
            <p><strong>Comment:</strong> User: {{ c.user.username }} Msg: {{ c.msg }} ( {{ c.date }} )</p>
        {% endfor %}
    {% endif %}
    <form id = "anyadirCarrito" action="{% url 'cart_list' %}" method="POST" max="20" min="0">
        {% csrf_token %}
        <label for="quantity">Añadir al carrito:</label>
        <input type="number" id="quantity" name="quantity">
        <input type="submit" value="Añadir">
    </form>
{% endblock %}
