{% extends "base.html" %}
{% load static %}
{% block content %}
    <h1>Tittle: {{ book.title }}</h1>
    <img src= "/static/{{book.path_to_cover_image }}" alt='imagen del libro' >
    <div class="infoLibro">
        {% if book.author.all %}
            {% for a in book.author.all %}
                <p><strong>Author:</strong>{{ a.first_name }} {{ a.last_name }}</p>
            {% endfor %}
        {% endif %}
        <p><strong>Price:</strong> {{book.price }}</p>
        <p><strong>Score:</strong> {{book.score }}</p>

        <form id = "anyadirCarrito" action="{% url 'cart_add' book_slug=book.slug %}" method="POST">
            {% csrf_token %}
              <tr><th><label for="quantity">Quantity:</label></th><td><select name="quantity" id="quantity" value="None">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <input type="submit" value="Add to cart" class="addCart">
          </form>
    </div>
    <div class="comentarios">
    <p class="commentSection"><strong>Comment section</strong></p>
    {% if comments %}
        {% for c in comments.all %}
            <p class="comentario"><strong>{{ c.user.username }} <br></strong>{{ c.msg }} <br> ( {{ c.date }} )</p>
        {% endfor %}
    {% endif %}
    </div>

{% endblock %}