{% extends "base.html" %}
{% load static %}
{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <div class="formSignIn">
  <h1 class="tituloSignIn">Log In</h1>

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table class="tabla">
      <tr>
        <td class="rowTitle"><strong>{{ form.username.label_tag }}</strong></td>
      </tr>
      <tr>
        <td class="rowContent"><br>{{ form.username }}<br><br></td>
      </tr>
      <tr>
        <td class="rowTitle"><strong>{{ form.password.label_tag }}</strong></td>
      </tr>
      <tr> 
        <td class="rowContent"><br>{{ form.password }}<br><br></td>
      </tr>
    </table>
    <div class="botonesSignIn">
      <input type="submit" value="login" class="botonSignIn"/>    
      <a href="{% url 'password_reset' %}" class="pwdLost">Lost password?</a>
    </div>
   <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>


{% endblock %}
