<!DOCTYPE html>
<html lang="en">
   <head>
      <title>
         {% block title %} BookShop {% endblock %}
      </title>
      <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
   </head>
   <body>
      {% block header %}
      {% endblock %}
      {% block menu %}
      <div class = "topnav">
      <a href="{% url 'home' %}"> Homepage</a>
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}"> Log Out</a>
      {% else %}
      <a href="{% url 'signup' %}">Sign Up</a>
      <a href="{% url 'login' %}"> Log In</a>
      {% endif %}
      <a href="{% url 'search' %}">Search</a>
  
      <hr>
      {% endblock %}
      </div>
      {% block content %}

      <hr>
      {% endblock %}
      {% block pagination %}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %}
      {% block footer %}
      <hr>
      <p>Footer goes here</p>
      {% endblock %}
   </body>
</html>
