{% extends "base.html" %}
{% block title %}
   Home
{% endblock %}

{% block content %}
<h1>Homepage</h1>
<!--   <a href="{% url 'search' %}"> Search</a> -->
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <<a href="#">Sign Up</a>
{% endif %}
{% endblock content %}

<!-- Ejemplo de fichero home.html.
Esto es solo un ejemplo para empezar a trabajar,
se espera que lo modifiquéis tanto como sea necesario.
-->
