{% extends "base.html" %}
{% load static %}
{% block title %}
   Home
{% endblock %}

{% block content %}
<h1 class="homeTitle">Welcome to our Bookshop</h1>
<div class="dropdwn1">
  {% if book_score %}
  <button class = "dropbtn1">Most popular</button>
    <div class="dropdwn1-content">
      {% for b in book_score %}
      <a href="{{ b.get_absolute_url }}"> Tittle: {{ b.title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>

<div class="dropdwn2">
  {% if book_score %}
  <button class = "dropbtn2">New Releases</button>
    <div class="dropdwn2-content">
      {% for b in book_date %}
      <a href="{{ b.get_absolute_url }}"> Tittle: {{ b.title }}</a>
      {% endfor %}
    </div>
  {% endif %}
</div>


{% endblock content %}
