{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="formSignUp">
   <h1 class ="tituloSignUp">Sign up</h2>
      <form method="post">
        {% csrf_token %}
            <p class="rowTitleSU"><strong>{{ form.username.label_tag }}</strong></p>
            <p class="rowContentSU">{{ form.username }}<br></p>
            <p class="helpTextSU"><small style="color: grey">{{ form.username.help_text }}</small></p>
            <p class="rowTitle"><strong>{{ form.email.label_tag }}</strong></p>
            <p class="rowContentSU">{{ form.email }}<br></p>
            <p class="helpTextSU"><small style="color: grey">{{ form.email.help_text }}</small></p>
            <p class="rowTitle"><strong>{{ form.password1.label_tag }}</strong></p>
            <p class="rowContentSU">{{ form.password1 }}<br></p>
            <p><small style="color: grey">{{ form.password1.help_text }}</small></p>
            <p class="rowTitle"><strong>{{ form.password2.label_tag }}</strong></p>
            <p class="rowContentSU">{{ form.password2 }}<br><br></p>
            <button type="submit" class="botonSignUp">Sign up</button>
      </form>
  </div>

{% endblock %}